@import './../../styles/shared.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: map-get($breakpoints, 'xl');

  padding: 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
